<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Haskell Indonesia" />
    <meta name="author" content="kusut" />
    <title>Haskell-ID :: $title$</title>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-72989106-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>

  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/"><img src="/static/haskell.png" alt="logo" /></a>
      </div>
      <div id="menu">
        <a href="/install.html">Instalasi</a>
        <a href="/lectures.html">Kuliah</a>
      </div>
    </div>    
    <div id="content">
      $body$
    </div>
    <div id="footer">
      Haskell Indonesia &copy; 2016
    </div>
  </body>
</html>
