body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}
