body {
    color: black;
    font-size: 13px;
    margin: 0px auto 0px auto;
    padding:0px;
    text-align:justify;
    max-width: 650px;
}

div#header {
    border-bottom: solid 1px black;
    text-align: center;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}
