pre {
    overflow: visible;
}

body {
    font-family: Sans;
    font-size: 13px;
    margin: 0px auto 0px auto;
    padding: 0 10px;
    text-align:justify;
    max-width: 650px;
}

#content ul {
    padding-left: 16px;
}

#header {
    border-bottom: solid 1px black;
    justify-content: space-between;
    display: flex;
}

#header #menu {
    min-width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header #menu a {
    margin-left: 5px;
}

#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}
