<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haskell-ID</title>
    <meta name="description" content="Haskell Indonesia" />
    <meta name="author" content="kusut" />
    <title$title$</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Haskell Indonesia</a></h1>
    </div>    
    <div id="content">
      $body$
    </div>
    <div id="footer">
      Haskell Indonesia &copy; 2014
    </div>
  </body>
</html>
